// font
$font : 'nunito';

// [clr] : color 
$clr-primary    : #228cef;
$clr-gray       : #bebebe;
$clr-gray-light : #ececec;
$clr-light      : #eee;
$clr-red        : #d50505;
$clr-green      : green;

.font--red { color: $clr-red }
.font--green { color: $clr-green }